
a:link		{ color:#2040c0; text-decoration:none; }
a:visited	{ color:#2040c0; text-decoration:none; }
a:hover		{ color:#2040c0; text-decoration:underline; }

.alt { text-align:left; vertical-align:top; }
.alm { text-align:left; vertical-align:middle; }
.almsg { text-align:left; vertical-align:middle; font-size:x-small; color:gray; }
.alb { text-align:left; vertical-align:bottom; }

.act { text-align:center; vertical-align:top; }
.acm { text-align:center; vertical-align:middle; }
.acmsb { text-align:center; vertical-align:middle; font-size:x-small; font-weight:bold; }
.acmsg { text-align:center; vertical-align:middle; font-size:x-small; color:gray; }
.acb { text-align:center; vertical-align:bottom; }

.art { text-align:right; vertical-align:top; }
.arm { text-align:right; vertical-align:middle; }
.armb { text-align:right; vertical-align:middle; font-weight:bold; }
.arms { text-align:right; vertical-align:middle; font-size:x-small; }
.armsb { text-align:right; vertical-align:middle; font-size:x-small; font-weight:bold; }
.armsg { text-align:right; vertical-align:middle; font-size:x-small; color:gray; }
.arb { text-align:right; vertical-align:bottom; }

.fsxs { font-size:x-small; }
.fsl { font-size:large; }
.fwb { font-weight:bold; }

.info { 
	font-size:x-small;
	color:gray;
	vertical-align:text-top;
}

.gray { color:gray; }
.green { color:green; }
.red { color:red; }

body {
	top:0;
	left:0;
	margin:0;
	padding:0;
	font-family:verdana;
	font-size:small;
	background-color:#fff;
}

.noscript {
	margin:auto;
	padding:4px;
	font-weight:bold;
	font-size:medium;
	text-align:center;
	color:red;
}

.hr {
	width:100%;
	border-top:1px solid #ccc;
}

.head {
	width:100%;
	margin:auto;
	text-align:center;
}

.foot {
	width:100%;
	margin:auto;
	text-align:center;
	font-size:x-small;
}

#xconfig {
	width:400px;
	margin:auto;
	background-color:#fcfcfc;
}
#config_simple  {
	width:380px;
	margin:auto;
}
.config_simple_hof  {
	margin:auto;
	padding:10px;
	border:1px solid #ccc;
	background-color:#f8f8f8;
}
#cfg_info td  {
	padding:2px;
}

#config_advanced {
	width:780px;
	margin:auto;
	padding:10px;
	border:1px solid #ccc;
	background-color:#f8f8f8;
	display:none;
}
#config_advanced table {
	width:100%;
	line-height:20px;
}

#config .tl {
	border-top:1px solid #ccc;
}
#config .bl {
	border-bottom:1px solid #ccc;
}
#config .wauto {
	width:auto;
}
#config select {
	border:0;
	border:1px solid #ccc;
}
#config .button {
	width:100px;
	border:1px solid #ccc;
	background-color:#fff;
}
#config .button:hover {
	background-color:#eee;
}
#config .sbutton {
	width:100px;
	padding:2px;
	font-weight:bold;
	border:1px solid #ccc;
	background-color:#fff;
}
#config .sbutton:hover {
	background-color:#eee;
}
#cfg_demo, #cfg_game {
	width:100%;	
}

#emul {
	display:none;
}

#status {
	width:720px;
	margin:auto;
	padding:2px;
	text-align:center;
	font-size:x-small;
	color:#888;
	background-color:#000;
}
#status table {
	margin:auto;
}
#dskchg, #dskchg_simple {
	display:none;
	width:720px;
	margin:auto;
	padding:2px;
	text-align:center;
	font-size:x-small;
	color:#888;
	background-color:#000;
}
#dskchg, #dskchg_simple table {
	margin:auto;
}

.dbutton {
	width:64px;
	font-size:x-small;
	color:#888;
	border:1px solid #888;
	background-color:#000;
}
.dbutton:hover {
	color:#ccc;
	border:1px solid #ccc;
}

.readme {
	width:1004px;
	margin:auto;
	padding:10px;
	border:1px solid #ccc;
	background-color:#f8f8f8;
}
.readme table {
	width:100%;
}
.readme table td {
	vertical-align:top;
}

div.float_box {
	overflow: hidden;
	width: 100%;
}
div.float_item {
	float: left;
}
div.float_clear {
	clear: both;
}